ProjectAgent/Schema/XBeamRate.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:bxp="http://www.wsdot.wa.gov/OpenBridgeML/Pier"
>
   <xs:annotation>
      <xs:documentation>
         This schema defines the WSDOT XBeam Rate data format.
      </xs:documentation>
   </xs:annotation>

   <xs:import namespace="http://www.wsdot.wa.gov/OpenBridgeML/Pier" schemaLocation="..\..\..\OpenBridgeML\Schema\OpenBridgeML_Pier.xsd" />

   <xs:simpleType name="UnitModeEnum">
      <xs:annotation>
         <xs:documentation>
            Defines the system unit mode.
         </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="SI" />
         <xs:enumeration value="US"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="ApplicationSettings">
      <xs:annotation>
         <xs:documentation>
            Defines application settings
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Units" type="UnitModeEnum"/>
         <xs:element name="ProjectName" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>

   <!-- Define Instance Document Format -->
   <!-- 
  The goal is to have two sections. The first section is XBeamRate specific information such as settings and options. The 
  second section is an OpenBridgeML generic product defintion of a bent. Together, these two sections make up a
  XBeam Rate input file
  -->
   <xs:element name="XBeamRate">
      <xs:annotation>
         <xs:documentation>This is the root of XBeamRate</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:annotation>
            <xs:documentation>
               This is the main sequence of elements in an instance document.
            </xs:documentation>
         </xs:annotation>
         <xs:sequence>
            <xs:element name="Settings" type="ApplicationSettings"/>
            <xs:element name="Pier" type="bxp:PierType"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>